<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.billow.test.dao.GoodsBrandDao">
    <!-- 通用查询结果对象-->
    <resultMap id="BaseResultMap" type="com.billow.test.dto.GoodsBrandPo">
        <id column="id" jdbcType="VARCHAR" property="id"/>

        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="creator_code" jdbcType="VARCHAR" property="creatorCode"/>
        <result column="updater_code" jdbcType="VARCHAR" property="updaterCode"/>
        <result column="valid_ind" jdbcType="BIT" property="validInd"/>

        <result column="brand_name" jdbcType="VARCHAR" property="brandName"/>
        <result column="BRAND_SORT" jdbcType="BIGINT" property="brandSort"/>
    </resultMap>
    <update id="updateById">
        update p_goods_brand
        <if test="brandName != null">
            set brand_name = #{brandName}
        </if>
        <if test="brandSort != null">
            set BRAND_SORT = #{brandSort}
        </if>
        where id = #{id}
    </update>

    <select id="findList" resultMap="BaseResultMap">
        select *
        from p_goods_brand
    </select>
</mapper>